.InputType {
  font-family: "Playwrite GB S";
  font-size: 1rem;
}

.Hello {
  max-width: 100px;
  height: 100px;
  width: 100%;
  background-color: aqua;
}

.SocMediaIcon {
  width: 100%;
}

.Img1 {
  background-image: url(../iconImg/instagram.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 100px;
  width: 100%;
  margin: auto;

}

.Img2 {
  background-image: url(../iconImg/facebook.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 100px;
  width: 100%;
  margin: auto;
}
.Img3 {
  background-image: url(../iconImg/linkedin.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 100px;
  width: 100%;
  margin: auto;
}
.Img4 {
  background-image: url(../iconImg/twitter.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100px;
  height: 100px;
  width: 100%;
  margin: auto;
}
