.MainBox {
  max-width: 40rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.users {
  font-weight: 500;
  font-family: "Playwrite GB S";
  font-size: 1.3rem;
}

.Img {
  margin: auto;
}
.SocMediaIcon {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.Container {
  width: 100%;
  position: relative;
}
