.bootstrap1 {
  background: linear-gradient(to top, #ffffcc 0%, #ffffff 100%);
  max-width: 32rem;
  height: 44rem;
  width: 100%;
  display: grid;
  place-items: center;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 0 0 1em 20px;
  margin-top: 6.25rem;
}
